USE [db_Tour_De_France]
GO
/****** Object:  Table [dbo].[Coureur]    Script Date: 04/12/2025 15:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coureur](
	[id_coureur] [int] NOT NULL,
	[nom_coureur] [varchar](255) NOT NULL,
	[prenom_coureur] [varchar](255) NOT NULL,
	[date_naissance] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_coureur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Edition]    Script Date: 04/12/2025 15:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Edition](
	[id_edition] [int] NOT NULL,
	[distance_km] [decimal](15, 2) NOT NULL,
	[annee] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_edition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[edition_coureur]    Script Date: 04/12/2025 15:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[edition_coureur](
	[id_coureur] [int] NOT NULL,
	[id_edition] [int] NOT NULL,
	[num_dossard] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_coureur] ASC,
	[id_edition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[edition_equipe_coureur]    Script Date: 04/12/2025 15:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[edition_equipe_coureur](
	[id_coureur] [int] NOT NULL,
	[id_edition] [int] NOT NULL,
	[num_equipe] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_coureur] ASC,
	[id_edition] ASC,
	[num_equipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipe]    Script Date: 04/12/2025 15:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipe](
	[num_equipe] [varchar](50) NOT NULL,
	[nom_equipe] [varchar](50) NOT NULL,
	[code_pays] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[num_equipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etape]    Script Date: 04/12/2025 15:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etape](
	[id_edition] [int] NOT NULL,
	[num_etape] [int] NOT NULL,
	[date_etape] [datetime] NOT NULL,
	[type_etape] [varchar](50) NOT NULL,
	[distance_etape] [int] NOT NULL,
	[id_ville_depart] [int] NOT NULL,
	[id_ville_arrive] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_edition] ASC,
	[num_etape] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[etape_coureur]    Script Date: 04/12/2025 15:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etape_coureur](
	[id_edition] [int] NOT NULL,
	[num_etape] [int] NOT NULL,
	[id_coureur] [int] NOT NULL,
	[bonification] [int] NULL,
	[penalite] [int] NULL,
	[a_abandonne] [bit] NULL,
	[est_exclu] [bit] NULL,
	[motif_exclusion] [text] NULL,
	[heure_arrive] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_edition] ASC,
	[num_etape] ASC,
	[id_coureur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pays]    Script Date: 04/12/2025 15:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pays](
	[code_pays] [varchar](3) NOT NULL,
	[nom_pays] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[code_pays] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempClassement]    Script Date: 04/12/2025 15:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempClassement](
	[nom_coureur] [varchar](255) NOT NULL,
	[prenom_coureur] [varchar](255) NOT NULL,
	[temps_total_secondes] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ville]    Script Date: 04/12/2025 15:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ville](
	[id_ville] [int] NOT NULL,
	[nom_ville] [varchar](50) NOT NULL,
	[code_postal] [varchar](10) NOT NULL,
	[code_pays] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ville] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Coureur] ([id_coureur], [nom_coureur], [prenom_coureur], [date_naissance]) VALUES (1, N'LAMPAERT', N'YVES', CAST(N'1991-04-10' AS Date))
INSERT [dbo].[Coureur] ([id_coureur], [nom_coureur], [prenom_coureur], [date_naissance]) VALUES (2, N'VAN AERT', N'WOUT', CAST(N'1994-09-15' AS Date))
INSERT [dbo].[Coureur] ([id_coureur], [nom_coureur], [prenom_coureur], [date_naissance]) VALUES (3, N'POGACAR', N'TADEJ', CAST(N'1998-09-21' AS Date))
GO
INSERT [dbo].[Edition] ([id_edition], [distance_km], [annee]) VALUES (1, CAST(3328.00 AS Decimal(15, 2)), 2022)
INSERT [dbo].[Edition] ([id_edition], [distance_km], [annee]) VALUES (2, CAST(3500.00 AS Decimal(15, 2)), 2026)
GO
INSERT [dbo].[edition_coureur] ([id_coureur], [id_edition], [num_dossard]) VALUES (1, 1, 56)
INSERT [dbo].[edition_coureur] ([id_coureur], [id_edition], [num_dossard]) VALUES (2, 1, 16)
INSERT [dbo].[edition_coureur] ([id_coureur], [id_edition], [num_dossard]) VALUES (3, 1, 1)
GO
INSERT [dbo].[edition_equipe_coureur] ([id_coureur], [id_edition], [num_equipe]) VALUES (1, 1, N'QUICK')
INSERT [dbo].[edition_equipe_coureur] ([id_coureur], [id_edition], [num_equipe]) VALUES (2, 1, N'JUMBO')
INSERT [dbo].[edition_equipe_coureur] ([id_coureur], [id_edition], [num_equipe]) VALUES (3, 1, N'UAE')
GO
INSERT [dbo].[Equipe] ([num_equipe], [nom_equipe], [code_pays]) VALUES (N'AG2R', N'AG2R CITROEN TEAM', N'FRA')
INSERT [dbo].[Equipe] ([num_equipe], [nom_equipe], [code_pays]) VALUES (N'ALPE', N'ALPECIN - DECEUNINCK', N'BEL')
INSERT [dbo].[Equipe] ([num_equipe], [nom_equipe], [code_pays]) VALUES (N'ARKEA', N'TEAM ARKEA - SAMSIC', N'FRA')
GO
INSERT [dbo].[Etape] ([id_edition], [num_etape], [date_etape], [type_etape], [distance_etape], [id_ville_depart], [id_ville_arrive]) VALUES (1, 1, CAST(N'2022-07-01T16:00:00.000' AS DateTime), N'CLM Individuel', 13, 1, 1)
INSERT [dbo].[Etape] ([id_edition], [num_etape], [date_etape], [type_etape], [distance_etape], [id_ville_depart], [id_ville_arrive]) VALUES (1, 2, CAST(N'2022-07-02T12:35:00.000' AS DateTime), N'Plat', 202, 2, 3)
INSERT [dbo].[Etape] ([id_edition], [num_etape], [date_etape], [type_etape], [distance_etape], [id_ville_depart], [id_ville_arrive]) VALUES (1, 3, CAST(N'2022-07-03T13:15:00.000' AS DateTime), N'Plat', 182, 3, 23)
GO
INSERT [dbo].[etape_coureur] ([id_edition], [num_etape], [id_coureur], [bonification], [penalite], [a_abandonne], [est_exclu], [motif_exclusion], [heure_arrive]) VALUES (1, 1, 1, 32, NULL, 0, 0, NULL, CAST(N'00:15:17' AS Time))
INSERT [dbo].[etape_coureur] ([id_edition], [num_etape], [id_coureur], [bonification], [penalite], [a_abandonne], [est_exclu], [motif_exclusion], [heure_arrive]) VALUES (1, 1, 2, 40, NULL, 0, 0, NULL, CAST(N'00:15:22' AS Time))
INSERT [dbo].[etape_coureur] ([id_edition], [num_etape], [id_coureur], [bonification], [penalite], [a_abandonne], [est_exclu], [motif_exclusion], [heure_arrive]) VALUES (1, 1, 3, NULL, NULL, 0, 0, NULL, CAST(N'00:15:24' AS Time))
GO
INSERT [dbo].[Pays] ([code_pays], [nom_pays]) VALUES (N'ABW', N'Aruba ')
INSERT [dbo].[Pays] ([code_pays], [nom_pays]) VALUES (N'AFG', N'Afghanistan')
INSERT [dbo].[Pays] ([code_pays], [nom_pays]) VALUES (N'AGO', N'Angola')
GO
INSERT [dbo].[Ville] ([id_ville], [nom_ville], [code_postal], [code_pays]) VALUES (1, N'Copenhague', N'36701', N'DNK')
INSERT [dbo].[Ville] ([id_ville], [nom_ville], [code_postal], [code_pays]) VALUES (2, N'Roskilde', N'36702', N'DNK')
INSERT [dbo].[Ville] ([id_ville], [nom_ville], [code_postal], [code_pays]) VALUES (3, N'Vejle', N'36704', N'DNK')
GO
ALTER TABLE [dbo].[edition_coureur]  WITH CHECK ADD FOREIGN KEY([id_coureur])
REFERENCES [dbo].[Coureur] ([id_coureur])
GO
ALTER TABLE [dbo].[edition_coureur]  WITH CHECK ADD FOREIGN KEY([id_edition])
REFERENCES [dbo].[Edition] ([id_edition])
GO
ALTER TABLE [dbo].[edition_equipe_coureur]  WITH CHECK ADD FOREIGN KEY([id_coureur])
REFERENCES [dbo].[Coureur] ([id_coureur])
GO
ALTER TABLE [dbo].[edition_equipe_coureur]  WITH CHECK ADD FOREIGN KEY([id_edition])
REFERENCES [dbo].[Edition] ([id_edition])
GO
ALTER TABLE [dbo].[edition_equipe_coureur]  WITH CHECK ADD FOREIGN KEY([num_equipe])
REFERENCES [dbo].[Equipe] ([num_equipe])
GO
ALTER TABLE [dbo].[Equipe]  WITH CHECK ADD FOREIGN KEY([code_pays])
REFERENCES [dbo].[Pays] ([code_pays])
GO
ALTER TABLE [dbo].[Etape]  WITH CHECK ADD FOREIGN KEY([id_edition])
REFERENCES [dbo].[Edition] ([id_edition])
GO
ALTER TABLE [dbo].[Etape]  WITH CHECK ADD FOREIGN KEY([id_ville_depart])
REFERENCES [dbo].[Ville] ([id_ville])
GO
ALTER TABLE [dbo].[Etape]  WITH CHECK ADD FOREIGN KEY([id_ville_arrive])
REFERENCES [dbo].[Ville] ([id_ville])
GO
ALTER TABLE [dbo].[etape_coureur]  WITH CHECK ADD FOREIGN KEY([id_coureur])
REFERENCES [dbo].[Coureur] ([id_coureur])
GO
ALTER TABLE [dbo].[etape_coureur]  WITH CHECK ADD FOREIGN KEY([id_edition], [num_etape])
REFERENCES [dbo].[Etape] ([id_edition], [num_etape])
GO
ALTER TABLE [dbo].[Ville]  WITH CHECK ADD FOREIGN KEY([code_pays])
REFERENCES [dbo].[Pays] ([code_pays])
GO
